/* ===============================
          TABLE OF CONTENT

    I. Host
    II. Global Wrapper
      1. Active State
      2. Hover State
    III. Slot Handling

 ================================ */

/* --- Host --- */
:host {
  display: block;
  width: 35px;
  height: 35px;
}

/* --- Global Wrapper --- */
.Wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(145deg, #e9e6e6, #ffffff);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  /* -- Hover State -- */
  &:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.075);
    transform: scale(1.02);
  }
  /* -- Active State -- */
  &:active {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    transform: scale(0.93) !important;
    transition: 0.1s ease-in-out;
  }

  &.levitate {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), -2px -2px 5px #ffffff;
    &:hover {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), -2px -2px 5px #ffffff;
      transform: scale(1.01);
    }
    &:active {
      transform: scale(0.98) !important;
      transition: 0.1s ease-in-out;
    }
  }
}

/* ---Slot Handling --- */
::slotted(img) {
  width: 60%;
}
