:host {
  display: block;
}
.MrToolTipWrapperWC {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  .ToolTip {
    position: absolute;
    display: block;
    opacity: 0;
    z-index: -1;
    min-width: 85px;
    max-width: 300px;
    text-align: center;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    transition: 0.2 ease-in-out;
  }

  &:hover {
    .ToolTip {
      opacity: 1;
      z-index: 1000;
      &:hover {
        display: none;
      }
    }
  }
}
